@import "~antd/dist/antd.css";

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
* {
  box-sizing: border-box;
}
.projectButton {
  margin: 35px;
}
.tabStyle {
  align-items: center;
  color: black;
  font-weight: bold;
}
.bb {
  align-items: center;
}
.ant-tabs-tab.ant-tabs-tab-active {
  color: green;
  font-weight: 500;
}
/* .ant-tabs-tab {
  color: red;
}  */
.blurr-text {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px+ 2vmin);
  color: white;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
